<a href="https://colab.research.google.com/github/akrakowsky/project-4-final/blob/main/ufo_sightings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [161]:
import numpy as np
import pandas as pd
import datetime
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import tensorflow as tf

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [136]:
df = pd.read_csv("./drive/MyDrive/Project_4/ufo_sightings_locations.csv")
df

        Unnamed: 0     Date / Time  ...   LATITUDE   LONGITUDE
0                0   9/17/21 22:10  ...  33.600280 -117.708540
1                1  11/11/20 16:13  ...  33.600280 -117.708540
2                2  11/11/20 16:13  ...  33.600280 -117.708540
3                3   8/18/19 21:45  ...  33.600280 -117.708540
4                4    7/7/16 21:47  ...  33.600280 -117.708540
...            ...             ...  ...        ...         ...
111479      111479             NaN  ...  40.281127  -87.224108
111480      111480             NaN  ...  39.769765  -78.198627
111481      111481             NaN  ...  43.681393  -82.729863
111482      111482        ??/??/??  ...  40.781867  -76.670234
111483      111483             NaN  ...  33.184163  -99.889354

[111484 rows x 16 columns]

In [137]:
# Remove all rows that have at least 1 null value
df = df.dropna()
df

        Unnamed: 0       Date / Time  ...   LATITUDE   LONGITUDE
1                1    11/11/20 16:13  ...  33.600280 -117.708540
2                2    11/11/20 16:13  ...  33.600280 -117.708540
3                3     8/18/19 21:45  ...  33.600280 -117.708540
4                4      7/7/16 21:47  ...  33.600280 -117.708540
5                5     11/4/12 12:50  ...  33.600280 -117.708540
...            ...               ...  ...        ...         ...
111474      111474  10/?82 ?83 20:00  ...  41.117977  -74.046253
111475      111475    Fall 94? 20:00  ...  28.863949  -81.899755
111477      111477             18:30  ...  35.417500  -81.643056
111478      111478             02:45  ...  37.134266  -82.940189
111482      111482          ??/??/??  ...  40.781867  -76.670234

[103331 rows x 16 columns]

In [138]:
# Drop unnecessary columns
df = df.drop(["Date / Time", "Duration", "City", "Summary", "Posted", "ID", "STATE_CODE", "STATE_NAME", "CITY", "COUNTY"], axis='columns')
df

        Unnamed: 0 State     Shape            Location   LATITUDE   LONGITUDE
1                1    CA    Circle    Laguna Hills, CA  33.600280 -117.708540
2                2    CA    Circle    Laguna Hills, CA  33.600280 -117.708540
3                3    CA    Circle    Laguna Hills, CA  33.600280 -117.708540
4                4    CA    Circle    Laguna Hills, CA  33.600280 -117.708540
5                5    CA    Sphere    Laguna Hills, CA  33.600280 -117.708540
...            ...   ...       ...                 ...        ...         ...
111474      111474    NY   Chevron   Spring Valley, NY  41.117977  -74.046253
111475      111475    FL     Other  Fruitland Park, FL  28.863949  -81.899755
111477      111477    NC   Unknown       Polkville, NC  35.417500  -81.643056
111478      111478    KY  Cylinder         Blackey, KY  37.134266  -82.940189
111482      111482    PA   Unknown       Trevorton, PA  40.781867  -76.670234

[103331 rows x 6 columns]

In [139]:
# reset index
df = df.set_index('Unnamed: 0')
df

           State     Shape            Location   LATITUDE   LONGITUDE
Unnamed: 0
1             CA    Circle    Laguna Hills, CA  33.600280 -117.708540
2             CA    Circle    Laguna Hills, CA  33.600280 -117.708540
3             CA    Circle    Laguna Hills, CA  33.600280 -117.708540
4             CA    Circle    Laguna Hills, CA  33.600280 -117.708540
5             CA    Sphere    Laguna Hills, CA  33.600280 -117.708540
...          ...       ...                 ...        ...         ...
111474        NY   Chevron   Spring Valley, NY  41.117977  -74.046253
111475        FL     Other  Fruitland Park, FL  28.863949  -81.899755
111477        NC   Unknown       Polkville, NC  35.417500  -81.643056
111478        KY  Cylinder         Blackey, KY  37.134266  -82.940189
111482        PA   Unknown       Trevorton, PA  40.781867  -76.670234

[103331 rows x 5 columns]

In [140]:
df["Shape"].value_counts()

Light        22102
Circle       11243
Triangle      9905
Fireball      7830
Unknown       7498
Other         7213
Sphere        7134
Disk          5986
Oval          4642
Formation     3667
Changing      2658
Cigar         2591
Flash         1900
Rectangle     1811
Cylinder      1684
Diamond       1489
Chevron       1315
Teardrop       915
Egg            882
Cone           397
Cross          343
light           51
other           16
triangle        15
sphere           6
circle           6
Delta            5
rectangle        4
oval             3
cylinder         3
cigar            3
changed          2
Round            2
fireball         2
diamond          1
Flare            1
Hexagon          1
unknown          1
Crescent         1
flash            1
delta            1
changing         1
Name: Shape, dtype: int64

In [141]:
# change shapes to lower case to normalize
df['Shape'] = df['Shape'].str.lower()

In [142]:
df["Shape"].value_counts()

light        22153
circle       11249
triangle      9920
fireball      7832
unknown       7499
other         7229
sphere        7140
disk          5986
oval          4645
formation     3667
changing      2659
cigar         2594
flash         1901
rectangle     1815
cylinder      1687
diamond       1490
chevron       1315
teardrop       915
egg            882
cone           397
cross          343
delta            6
changed          2
round            2
crescent         1
hexagon          1
flare            1
Name: Shape, dtype: int64

In [177]:
# Group the shapes into 2 categories: light and dim
options = ["light", "fireball", "flash", "flare"]
ml_df = df[df['Shape'].isin(options)].copy()
ml_df["Category"] = "light"
ml_df

           State     Shape          Location   LATITUDE   LONGITUDE Category
Unnamed: 0
6             CA  fireball  Laguna Hills, CA  33.600280 -117.708540    light
10            CA  fireball  Laguna Hills, CA  33.600280 -117.708540    light
11            CA  fireball  Laguna Hills, CA  33.600280 -117.708540    light
19            CA     light  Laguna Hills, CA  33.600280 -117.708540    light
21            CA     light  Laguna Hills, CA  33.600280 -117.708540    light
...          ...       ...               ...        ...         ...      ...
111433        CA     light    Menlo Park, CA  37.453401 -122.179136    light
111434        TX  fireball           Pep, TX  33.810434 -102.565580    light
111443        AR     light      Sedgwick, AR  35.985965  -90.880099    light
111461        AL  fireball      Waterloo, AL  34.935680  -87.962412    light
111464        NY  fireball      Carlisle, NY  42.749754  -74.456284    light

[31887 rows x 6 columns]

In [178]:
# Group the shapes into 2 categories: light and dim
ml_df_new = df[~df['Shape'].isin(options)].copy()
ml_df_new["Category"] = "dim"
ufo_df =pd.concat([ml_df, ml_df_new])

In [179]:
ufo_df

           State     Shape            Location   LATITUDE   LONGITUDE Category
Unnamed: 0
6             CA  fireball    Laguna Hills, CA  33.600280 -117.708540    light
10            CA  fireball    Laguna Hills, CA  33.600280 -117.708540    light
11            CA  fireball    Laguna Hills, CA  33.600280 -117.708540    light
19            CA     light    Laguna Hills, CA  33.600280 -117.708540    light
21            CA     light    Laguna Hills, CA  33.600280 -117.708540    light
...          ...       ...                 ...        ...         ...      ...
111474        NY   chevron   Spring Valley, NY  41.117977  -74.046253      dim
111475        FL     other  Fruitland Park, FL  28.863949  -81.899755      dim
111477        NC   unknown       Polkville, NC  35.417500  -81.643056      dim
111478        KY  cylinder         Blackey, KY  37.134266  -82.940189      dim
111482        PA   unknown       Trevorton, PA  40.781867  -76.670234      dim

[103331 rows x 6 columns]

In [206]:
# # Filter out shapes less than 4000 value counts
# options = ["light", "circle", "triangle", "fireball", "unknown", "other", "sphere", "disk", "oval"]
# ml_df = df[df['Shape'].isin(options)]
# ml_df

The shape was reduced to 2 options to improve training scores, but was able to keep the whole list.

In [180]:
# creating instance of labelencoder
label_encoder =LabelEncoder()
# Tranform the shape data to numerical
ufo_df['Category']= label_encoder.fit_transform(ufo_df['Category'])
ufo_df

           State     Shape            Location   LATITUDE   LONGITUDE  Category
Unnamed: 0
6             CA  fireball    Laguna Hills, CA  33.600280 -117.708540         1
10            CA  fireball    Laguna Hills, CA  33.600280 -117.708540         1
11            CA  fireball    Laguna Hills, CA  33.600280 -117.708540         1
19            CA     light    Laguna Hills, CA  33.600280 -117.708540         1
21            CA     light    Laguna Hills, CA  33.600280 -117.708540         1
...          ...       ...                 ...        ...         ...       ...
111474        NY   chevron   Spring Valley, NY  41.117977  -74.046253         0
111475        FL     other  Fruitland Park, FL  28.863949  -81.899755         0
111477        NC   unknown       Polkville, NC  35.417500  -81.643056         0
111478        KY  cylinder         Blackey, KY  37.134266  -82.940189         0
111482        PA   unknown       Trevorton, PA  40.781867  -76.670234         0

[103331 rows x 6 columns]

In [182]:
ufo_df["Category"].value_counts()

0    71444
1    31887
Name: Category, dtype: int64

In [183]:
ufo_df = ufo_df.drop(["Location"], axis='columns')
ufo_df

           State     Shape   LATITUDE   LONGITUDE  Category
Unnamed: 0
6             CA  fireball  33.600280 -117.708540         1
10            CA  fireball  33.600280 -117.708540         1
11            CA  fireball  33.600280 -117.708540         1
19            CA     light  33.600280 -117.708540         1
21            CA     light  33.600280 -117.708540         1
...          ...       ...        ...         ...       ...
111474        NY   chevron  41.117977  -74.046253         0
111475        FL     other  28.863949  -81.899755         0
111477        NC   unknown  35.417500  -81.643056         0
111478        KY  cylinder  37.134266  -82.940189         0
111482        PA   unknown  40.781867  -76.670234         0

[103331 rows x 5 columns]

In [184]:
ufo_df.corr()

           LATITUDE  LONGITUDE  Category
LATITUDE   1.000000  -0.104118  0.011517
LONGITUDE -0.104118   1.000000 -0.016662
Category   0.011517  -0.016662  1.000000

In [185]:
# Standarize data with StandarScaler
X = ufo_df.drop(["Category", "Shape", "State"], axis="columns").values
y = ufo_df["Category"].values
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-0.84144081, -1.24554402],
       [-0.84144081, -1.24554402],
       [-0.84144081, -1.24554402],
       ...,
       [-0.51156943,  0.76935624],
       [-0.19993299,  0.69688823],
       [ 0.46219883,  1.047177  ]])

In [186]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)
scaler = StandardScaler().fit(X_train)

In [187]:
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [188]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [189]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression()

In [190]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.6924658859963224
Testing Data Score: 0.6871824647989548

In [191]:
data = [[39.73, -122.76]]
data = scaler.transform(data)

In [205]:
prediction = classifier.predict(data)

list(label_encoder.inverse_transform(prediction))[0]

'dim'

In [193]:
# Try random forest
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.7323139456111487
Testing Score: 0.6596506507959549

Logistic Regression has the better testing accuracy.

In [195]:
request = clf.predict(data)
list(label_encoder.inverse_transform(request))

['light']

In [196]:
y_train_encoded = tf.keras.utils.to_categorical(y_train)
y_test_encoded = tf.keras.utils.to_categorical(y_test)

In [197]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=2))
model.add(tf.keras.layers.Dense(units=10, activation="relu"))
model.add(tf.keras.layers.Dense(units=2, activation="softmax"))
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                30

 dense_10 (Dense)            (None, 10)                110

 dense_11 (Dense)            (None, 2)                 22

=================================================================
Total params: 162
Trainable params: 162
Non-trainable params: 0
_________________________________________________________________

In [198]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
ufo_test = model.fit(X_train_scaled, y_train_encoded, epochs=10)

Epoch 1/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6203 - accuracy: 0.6916
Epoch 2/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6172 - accuracy: 0.6925
Epoch 3/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6169 - accuracy: 0.6925
Epoch 4/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6169 - accuracy: 0.6925
Epoch 5/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6168 - accuracy: 0.6925
Epoch 6/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6167 - accuracy: 0.6925
Epoch 7/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6167 - accuracy: 0.6925
Epoch 8/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6165 - accuracy: 0.6925
Epoch 9/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6165 - accuracy: 0.6925
Epoch 10/10
2584/2584 [==============================] - 4s 1ms/step - loss: 0.6165 - accuracy: 0.6925

In [200]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test_encoded,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

646/646 - 1s - loss: 0.6211 - accuracy: 0.6872 - 700ms/epoch - 1ms/step
Loss: 0.6210918426513672, Accuracy: 0.6871824860572815

In [201]:
ufo_df[["LATITUDE", "LONGITUDE", "Category"]].to_csv("ufo_db.csv", index=False)

In [ ]:
pip install pyglet

Requirement already satisfied: pyglet in /usr/local/lib/python3.7/dist-packages (1.5.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyglet) (0.16.0)

In [75]:
# from sqlalchemy import create_engine


# engine = create_engine("postgresql://postgres:password@localhost:5432")
# pd.read_sql("SELECT * FROM Project_4;", engine)

In [207]:
import pickle
import requests
import json
# Saving model to disk
pickle.dump(classifier, open('model.pkl','wb'))

In [210]:
# Loading model to compare the results
model = pickle.load( open('model.pkl','rb'))
print(model.predict(data))

[0]